body {
    margin: auto;
    
}

header, form, h2 {
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: #cccccc;
    color: #000000;
    bottom: 5px;
    position: fixed;
    width: 100%;
    text-align: center;
}

